*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #141313;
    --clr-accent: #9134eb;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    background: #222222;
    font-family: "Helvetica Neue", "Helvetica", Arial, "Lucida   Grande", sans-serif;
}

h3 {
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 1em;
    text-shadow: 0px 0px 20px #9134eb;
    color: #9134eb;

    /* display: inline-block; */
}


.container {
    font-size: 16px;
    /* top: 50%;
    left: 35%;
    position: absolute; */
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 300px auto 0 auto;

}

.bar {
    height: .4em;
    max-width: 30%;
    width: 100%;
    border-radius: 10px;
    background: transparent;
    box-shadow: inset 0px 0px 8px rgba(50, 50, 50, 1);
    overflow: hidden;
    margin: 0 auto;

}

.progress {
    height: inherit;
    border-radius: inherit;
    width: 0;
    background: #9134eb;
    animation: load 3s linear infinite;
    animation-delay: 2s;
}


@keyframes load {
    0% {
        width: 0%;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0%;
        float: right;
    }
}

@media (max-width: 750px) {
    .bar {
        max-width: 100%;
    }
}

/* styles from main.css */

.logo {
    max-width: 400px;
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    min-width: 200px;
}

.portfolio-item-logo-link {
    text-decoration: none;
    color: var(--clr-accent);
    transition-duration: 0.4s;
}

.portfolio-item-logo-link:hover {
    color: var(--clr-light);
}