*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #141313;
    /* --clr-accent: #16e0bd; */
    --clr-accent: #9134eb;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */
.video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    padding-left: 16px;
}

/* CSS to style the iframe */
iframe {
    border-radius: 15px;
    border: none;
    width: 515px;
    height: 270px;
    margin-right: 16px;
}

/* media queries for i-frames */
@media only screen and (max-width: 470px) {
    .video-container {
        flex-direction: column;
        align-items: center;
    }

    iframe {
        margin-bottom: 16px;
        max-width: 85%;
        max-height: 190px;
    }
}

@media screen and (min-width: 471px) and (max-width: 1120px) {
    .video-container {
        flex-direction: column;
        align-items: center;
    }

    iframe {
        margin-bottom: 16px;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    /* display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out; */
    background-color: var(--clr-accent);

    color: var(--clr-light);
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid var(--clr-light);
    font-weight: 600;
    border-radius: 25px;

}

.btn:hover {
    /* transform: scale(1.1); */
    background-color: var(--clr-light);
    color: var(--clr-dark);
    border: 2px solid var(--clr-accent);
    box-shadow: 0 0 10px 5px #ff1493;
}

/* Typography*/

.purple-text {
    color: var(--clr-accent);
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: .25rem;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3)
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    height: 50.5px;
    color: var(--clr-light);
}

@media (max-width:382px) {
    .section__subtitle--about {
        padding-right: 0;
    }
}

/* image above header */
.container {
    position: relative;
    width: 100%;
    height: 300px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    color: var(--clr-light);
    display: none;
    /* hiding it for now because I don't like the way it looks on top of the new banner*/
}

/* Desktop Styles */
@media only screen and (min-width: 768px) {
    .container {
        background-image: url('photos/Web\ Dev\ Japan\ \(9\).png');
        background-size: cover;
        background-position: center;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 767px) {
    .container {
        height: 170px;
        background-image: url('photos/Web\ Dev\ Japan\ \(9\)revised.png');
        background-size: cover;
        background-position: center;
    }
}


/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 200px;
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    min-width: 200px;
    margin-top: 0;
    margin-left: 10px;
}

.portfolio-item-logo-link {
    text-decoration: none;
    color: black;
    transition-duration: 0.4s;
}

.portfolio-item-logo-link:hover {
    color: var(--clr-accent);
}



.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;

}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
    padding: 4px;
}

.nav__link:hover {
    color: var(--clr-accent);
    box-shadow: 0 0 10px 5px #ff1493;
}

.nav-toggle {
    padding: .25em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.hamburger {

    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-light);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}



.nav-open .hamburger::after {
    opacity: 0;
}

/* Intro section */



.intro {
    position: relative;

}

.intro__img {
    box-shadow: var(--bs);
    border-radius: 15px;
}



#icon-container {
    display: flex;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#icon-container>img {

    margin-bottom: 20px;
}

.web-icon {
    width: 72px;
}


#git-logo {
    width: 144px;
    margin-left: 10px;
}

#github-logo {
    width: 90px;
    margin-left: 5px;
}

#shopify-logo {
    width: 90px;
    margin-left: -10px;
}

#react-logo {
    width: 84.5px;
    margin-right: 20px;
}

#figma-logo {
    width: 160px;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns:
            min-content max-content;
    }

    .intro__img {
        grid-area: img;
        width: 400px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

@media (max-width: 600px) {
    .section__subtitle--intro {
        height: 42px;
        width: 280px;
        margin-left: auto;
        margin-right: auto;

    }
}

.about-me__link {
    text-decoration: none;
    font-weight: var(--fw-bold);
    color: var(--clr-accent);
}

.about-me__link:hover {
    text-decoration: underline;
    color: var(--clr-dark);
}

/* My services section */



.my-services {

    background: var(--clr-dark);
    background-image: url(photos/services-bg.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(photos/services-bg.jpg);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;

}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.35;
}

.services {
    margin-bottom: 4em;

}

#alignment-fix {
    width: 100%;

}

.service {
    max-width: 420px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;

    }

    .service+.service {
        margin-left: 2em;
    }
}

/* About me section */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__image {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        column-gap: 2em;


    }



    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1/ -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 4em);
        padding-left: 1em;
        padding-right: calc(200px + 2em);

    }

    .about-me__image {
        grid-area: img;
        position: relative;
        z-index: 2;

    }



}

/* .shade-for-background-image {
    width: 100%;
    height: 100%;
    background: red;
    opacity: .7;
    z-index: 3;


} */

/* My Work*/

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
}

.section__subtitle--work {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
    font-size: 20px;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1242px;
    margin: auto;
    column-gap: 1em;
    row-gap: 1em;

}

.portfolio__item,
.project-pages__portfolio-item {
    background-color: var(--clr-accent);
    overflow: hidden;

}

.portfolio__item {
    border: 5px solid var(--clr-light);
}


.portfolio__img,
.project__img {
    transition:
        transform 500ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus,
.project-pages__portfolio-item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.project__img:hover {
    transform: scale(1.2);
    opacity: .4;
}

@media (min-width: 800px) {
    .project-pages__portfolio-item {
        border: 5px solid var(--clr-light);

    }
}



.blockquote-section div {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@media (max-width: 385px) {
    .section__subtitle--work {
        font-size: 18px;
    }
}

/*Upwork Section*/
.upwork-section {
    text-align: center;
    position: relative;
}

.upwork-section>h2 {
    position: relative;
    z-index: 2;
}


.upwork-section img {
    position: relative;
    width: 50%;
    margin: 20px auto 0 auto;
    border: 1px solid #141313;
    z-index: 2;
}

@media (max-width: 950px) {
    .upwork-section img {
        width: 90%;
    }
}

#confetti-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    /* Allow clicks to go through the canvas */
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Instagram blockquote section */
.blockquote-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #141313;
}

.no-margin-no-padding {
    margin-top: 0;
    /* padding-top: 2.5em;
    padding-bottom: 1em; */
    background-color: #141313;
    color: #fff;
    padding-bottom: 0;
}

.blockquote-section__title_container {
    display: flex;
    justify-content: center;
}

.blockquote-section__outer-div {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1100px) {
    .blockquote-section {
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    .blockquote-section__title_container {
        padding: 10px 0 20px 0;

    }
}

@media (max-width: 650px) {
    .blockquote-section__title_container {
        padding: 10px 0 20px 0;

    }

    .no-margin-no-padding {
        /* margin: 25px 0 10px 0; */
        padding-top: 20px;
    }






}


/* footer */

.footer {
    background: rgb(31, 31, 31);
    color: var(--clr-accent);
    text-align: center;
    padding: 2em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;

}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

.footer-logo {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right: 1.5em;
    text-align: right;
    color: var(--clr-accent);
}

#scroll-to-top {
    text-decoration: none;
    color: var(--clr-accent);
}

#scroll-to-top:hover {
    color: var(--clr-light);
}

/* Individual portfolio item page styles*/

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#project-pages__img {
    width: 400px;
}

/* Special styling for portfolio item with white background */

/* edit on June 16, 2023 
   I realized I had accidentally copied the portfolio-item2 html page for all of the new ones, 
   resulting in black background for all of them. But then I decided I actually don't like the 
   look of the black background so I commented out the following code for now. */

/* Proposed update: put the green accent color on the img borders on mobile*/

/* @media (max-width: 600px) {
    .portfolio-page__body {
        background: var(--clr-dark);
        color: var(--clr-light);
    }

    .portfolio-page__subtitle {
        color: var(--clr-dark);
    }
} */

/*Extra media queries and other misc styles*/

@media (max-width: 599px) {

    #zach-vlog-img {
        height: auto;
        width: 60%;
        margin: 60px auto 0 auto;
    }

    #home {
        text-align: center;
        padding-top: 0;
    }

    #home>h1 {
        margin-bottom: 14px;
    }

    .intro {
        padding-bottom: 70px;
    }

    .intro__img {
        width: 75%;
        margin: 0 auto -50px auto;
        max-width: 234px;
    }
}


.technologies-container {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}


/*My tech stack and other styles on mobile*/

@media (max-width: 599px) {
    .technologies-container {
        padding-bottom: 0;
        padding-top: 0;
        margin-top: 0;
    }

    /* All icons are 70% the size of the desktop version*/

    .web-icon {
        width: 50.4px;
    }

    #git-logo {
        width: 100.8px;
    }

    #github-logo {
        width: 63px;
    }

    #shopify-logo {
        width: 63px;
    }

    #react-logo {
        width: 59.15px;
        margin-right: 8px;
    }

    #figma-logo {
        width: 112px;
    }

    header {
        padding-bottom: 0;
    }

    #service-1,
    #service-2 {
        padding-bottom: 10px;
    }

}

/* Everything looked fine on iphone 12 but after checking on a Samsung android, 
   the logos looked much bigger. Upon further inspection in Chrome Dev Tools it
   looks like we need another breakpoint at around 385px*/

@media (max-width: 385px) {
    .web-icon {
        width: 36px;
    }

    #git-logo {
        width: 72px;
    }

    #github-logo {
        width: 45px;
    }

    #shopify-logo {
        width: 45px;
    }

    #react-logo {
        width: 42.25px;
    }

    #figma-logo {
        width: 80px;

    }
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(80px);
    transition: opacity 0.5s, transform 0.5s;
}



.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.animate-on-scroll2 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
}



.is-visible2 {
    opacity: 1;
    transform: translateY(0);
}

/* to-do: figure out the underlying reason for the shadow-host-companion showing up on my page and creating white space below the footer */
#shadow-host-companion {
    display: none;
}

/* Business Partners section*/

.business_partners_section {
    text-align: center;

}

.business_partners_section h2 {
    margin-bottom: 20px;
}

#larrys_img {
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}

@media (min-width: 600px) {
    #larrys_img {
        width: auto;
        height: 500px;
    }

    .business_partners_section h2 {
        margin-bottom: 40px;
    }
}

/* job-search-section */

.job-search-section {
    padding-bottom: 10px;
}

@media (min-width: 600px) {
    .job-search-section {
        width: 36%;
        margin: 0 auto;
    }

    h2 {
        margin-bottom: 20px;
    }


}